@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Marcellus', serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1rem;
}

#welcome {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("../img/index/slide1.jpg");
    background-size: cover;
    background-position: cover ;
    background-repeat: no-repeat;
    height: 500px;
}

.paragraph {
    position: relative;
    padding: 20px;
    color: white;
}

.item {
    padding: 1rem;
}

.menu a {
    color: var(--blanco);
    text-decoration: none;
}

.navbar-button {
    background-color: var(--azuloscuro);
    padding: 0.5rem 1rem;
    color: var(--blanco);
    border-radius: 5px;
    font-family: 'Marcellus', serif;
    font-size: 1em;
}

.menu i {
    margin-right: 0.5rem;
}

.logo img {
    height: 3rem;
}

#features {
    background: url(../img/index/bg-features.png);
    color: white;
    padding-top: 1rem;
}

.features-title {
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature {
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue {
    background-color: #00325eae;
}

.feature-black {
    background-color: rgba(0, 0, 0, 0.59);
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.logo {
    background-color: var(--negro2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo img {
    width: 40%;
    max-width: 200px;
}

.logo i {
    color: var(--blanco);
    font-size: 2rem;
}

.menu {
    background-color: rgba(1, 10, 52, 0.838);
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-hr {
    width: 90%;
    background-color: var(--blanco);
}

.item {
    padding: 1rem;
}

nav a {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #0B3860;
    width: 100%;
}

.navbar-button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}

/* Nuevas secciones */

#ubicacion {
    background-color: var(--blanco);
    padding: 2rem;
    text-align: center;
}

.ubicacion-title {
    font-size: 2em;
    margin-bottom: 1.5rem;
}

.ubicacion-address {
    margin-top: 1rem;
    font-weight: bold;
}

.ubicacion-phone {
    margin-top: 0.5rem;
    text-decoration: none;
}

/* Estilos para el carrusel de testimonios */
#testimonios {
    background-color: var(--negro);
    color: var(--blanco);
    padding: 2rem;
    text-align: center;
}

.testimonios-title {
    font-size: 2em;
    margin-bottom: 1.5rem;
}

.testimonios-carousel {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.opinion {
    background-color: var(--azuloscuro); /* Fondo de los cuadros de opinión */
    color: var(--blanco); /* Color del texto dentro de los cuadros */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%; /* Ancho de cada cuadro de opinión */
}

.opinion:not(:last-child) {
    margin-right: 20px; /* Espacio entre los cuadros de opinión */
}

.opinion-user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.opinion-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
}

.opinion-info {
    margin-left: 15px;
}

.opinion-info h3 {
    margin: 0;
}

.opinion-stars {
    color: gold;
}

.opinion-text {
    font-style: italic;
    margin-top: 10px;
}

.testimonios-indicators {
    margin-top: 20px;
}

.testimonios-indicators span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--blanco);
    border-radius: 50%;
    margin: 0 5px;
}

