body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/index/slide1.jpg");
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: rgba(106, 175, 248, 0.89);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.sidebar p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}

.main {
    margin-left: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.titulo {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin-top: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.columna1 label,
.columna2 label {
    font-weight: bold;
}

.columna1 input,
.columna2 input,
.columna1 select,
.columna2 select,
.columna1 textarea,
.columna2 textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}