body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../img/index/slide1.jpg");
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: rgba(106, 175, 248, 0.89);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar img {
    display: block;
    margin: 0 auto;
    width: 80%; /* Ajusta el ancho según sea necesario */
}

.sidebar p {
    text-align: center;
    margin-top: 10px; 
    font-size: 14px; 
    color: #fff;
}

.main {
    margin-left: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

.register-form h2 {
    text-align: center;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
}

.register-form input,
.register-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-form input[type="radio"] {
    margin-bottom: 5px;
}

.register-form button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.terms {
    margin-top: 10px;
}